In [ ]:
"""Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit
method.
Ans:SELECT * FROM (SELECT ROW_NUMBER() OVER (ORDER BY salary DESC) AS R_NUM, 
    first_name, salary FROM employee) as HEllO WHERE R_NUM=5;

"""

In [ ]:
"""Q-20. Write an SQL query to fetch the list of employees with the same salary.
Ans: CREATE TABLE employee (
    emp_id INT PRIMARY KEY AUTO_INCREMENT NOT NULL,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    salary INT
);

INSERT INTO employee VALUES
(1,'shivani','Deshmukh',120),
(2,'Shivangi','Rawat',300),
(3,'Diksha','Naik',50),
(4,'Laksh','Naik',150),

SELECT * FROM employee ORDER BY salary ASC;

"""